<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设备管理</title>
	<meta content="telephone=no" name="format-detection" />

</head>
<body>
	<div id="app">
		<div class="header" @click="showHeader">
			<span>{{currentDevice.name}} <i class="iconfont icon-arrow-down"></i></span>
			<ul class="header-list" v-show="headerStatus">
				<li class="header-list-item" v-for="item in deviceList">{{item.name}}</li>
			</ul>
		</div>
		<div class="device-info-wrap">
			<div class="device-info">
				<div class="device-item">
					<img src="../../assets/device/1.png" alt="">
					<span>离更换喷头还剩<strong>90</strong>天</span>
				</div>
				<div class="device-item">
					<img src="../../assets/device/2.png" alt="">
					<span>电量还剩<strong>70</strong>%</span>
				</div>
				<i class="line"></i>
			</div>
		</div>
		<div class="model-wrap">
			<h3>情景模式</h3>
			<div class="default-model clearfix">
				<a class="model-item active">
					<i class="icon item1"></i>
					<h6>按摩模式</h6>
					<span>间断水柱按摩牙龈</span>
				</a>
				<a class="model-item">
					<i class="icon item2"></i>
					<h6>呵护模式</h6>
					<span>持续冲洗洁白牙齿</span>
				</a>
				<a class="model-item">
					<i class="icon item3"></i>
					<h6>新手模式</h6>
					<span>温和水柱舒适牙龈</span>
				</a>
			</div>
			<div class="custom-model clearfix">
				<a class="model-item">
					<i class="iconfont icon-delete"></i>
					<h6>我的模式</h6>
				</a>
				<a class="model-item setting" @click.stop="addCustom">
					<img src="../../assets/device/add.png" alt="">
					<h6>添加模式</h6>
				</a>
				<a class="model-item setting">
					<img src="../../assets/device/del.png" alt="">
					<h6>删除模式</h6>
				</a>
			</div>
		</div>
		<div class="setting-wrap">
			<h3>个性设置</h3>
			<ul>
				<li class="setting-item">
					<i class="icon icon1"></i>
					<div class="settting-item-info">
						<h5>防止溅射</h5>
						<span>开机后水压由小到大，防止溅射。</span>
					</div>
					<div class="switch-c">
						<mt-switch v-model="value"></mt-switch>
					</div>
				</li>
				<li class="setting-item">
					<i class="icon icon2"></i>
					<div class="settting-item-info">
						<h5>定时提醒</h5>
						<span>设置提醒时间，管理刷牙习惯。</span>
					</div>
					<div class="operate">
						<span>15秒</span>
						<i class="iconfont icon-arrow-right"></i>
					</div>
				</li>
				<li class="setting-item">
					<i class="icon icon3"></i>
					<div class="settting-item-info">
						<h5>重命名</h5>
						<span>设置当前设备名称。</span>
					</div>
					<div class="operate">
						<span>设备A</span>
						<i class="iconfont icon-arrow-right"></i>
					</div>
				</li>
			</ul>
		</div>
		<div class="mask">
			<div class="dialog custom-dialog">
				<div class="dialog-header">
					<span>新增模式</span>
					<i class="iconfont icon-close" @click.stop="dialogClose"></i>
				</div>
				<div class="dialog-content">
					<div class="form-row">
						<input type="text" class="form-input">
						<label for="">
							<span>试用</span>
							<input type="checkbox">
						</label>
					</div>
					<div class="form-row">
						<label for="">水压</label>
						<mt-range v-model="waterValue"
								  :min="0"
								  :max="100" :bar-height="3"></mt-range>
					</div>
					<div class="form-row">
						<label for="">间隔</label>
						<mt-range v-model="intervalValue"
								  :min="0"
								  :max="100" :bar-height="3"></mt-range>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>
	;(function(win, lib) {
		var doc = win.document;
		var docEl = doc.documentElement;
		var metaEl = doc.querySelector('meta[name="viewport"]');
		var flexibleEl = doc.querySelector('meta[name="flexible"]');
		var dpr = 0;
		var scale = 0;
		var tid;
		var flexible = lib.flexible || (lib.flexible = {});

		if (metaEl) {
			console.warn('将根据已有的meta标签来设置缩放比例');
			var match = metaEl.getAttribute('content').match(/initial\-scale=([\d\.]+)/);
			if (match) {
				scale = parseFloat(match[1]);
				dpr = parseInt(1 / scale);
			}
		} else if (flexibleEl) {
			var content = flexibleEl.getAttribute('content');
			if (content) {
				var initialDpr = content.match(/initial\-dpr=([\d\.]+)/);
				var maximumDpr = content.match(/maximum\-dpr=([\d\.]+)/);
				if (initialDpr) {
					dpr = parseFloat(initialDpr[1]);
					scale = parseFloat((1 / dpr).toFixed(2));
				}
				if (maximumDpr) {
					dpr = parseFloat(maximumDpr[1]);
					scale = parseFloat((1 / dpr).toFixed(2));
				}
			}
		}

		if (!dpr && !scale) {
			var isAndroid = win.navigator.appVersion.match(/android/gi);
			var isIPhone = win.navigator.appVersion.match(/iphone/gi);
			var devicePixelRatio = win.devicePixelRatio;
			if (isIPhone) {
				// iOS下，对于2和3的屏，用2倍的方案，其余的用1倍方案
				if (devicePixelRatio >= 3 && (!dpr || dpr >= 3)) {
					dpr = 3;
				} else if (devicePixelRatio >= 2 && (!dpr || dpr >= 2)){
					dpr = 2;
				} else {
					dpr = 1;
				}
			} else {
				// 其他设备下，仍旧使用1倍的方案
				dpr = 1;
			}
			scale = 1 / dpr;
		}

		docEl.setAttribute('data-dpr', dpr);
		if (!metaEl) {
			metaEl = doc.createElement('meta');
			metaEl.setAttribute('name', 'viewport');
			metaEl.setAttribute('content', 'initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
			if (docEl.firstElementChild) {
				docEl.firstElementChild.appendChild(metaEl);
			} else {
				var wrap = doc.createElement('div');
				wrap.appendChild(metaEl);
				doc.write(wrap.innerHTML);
			}
		}

		function refreshRem(){
			var width = docEl.getBoundingClientRect().width;
			if (width / dpr > 540) {
				width = 540 * dpr;
			}
			var rem = width / 10;
			docEl.style.fontSize = rem + 'px';
			flexible.rem = win.rem = rem;
		}

		win.addEventListener('resize', function() {
			clearTimeout(tid);
			tid = setTimeout(refreshRem, 300);
		}, false);
		win.addEventListener('pageshow', function(e) {
			if (e.persisted) {
				clearTimeout(tid);
				tid = setTimeout(refreshRem, 300);
			}
		}, false);

		if (doc.readyState === 'complete') {
			doc.body.style.fontSize = 12 * dpr + 'px';
		} else {
			doc.addEventListener('DOMContentLoaded', function(e) {
				doc.body.style.fontSize = 12 * dpr + 'px';
			}, false);
		}


		refreshRem();

		flexible.dpr = win.dpr = dpr;
		flexible.refreshRem = refreshRem;
		flexible.rem2px = function(d) {
			var val = parseFloat(d) * this.rem;
			if (typeof d === 'string' && d.match(/rem$/)) {
				val += 'px';
			}
			return val;
		}
		flexible.px2rem = function(d) {
			var val = parseFloat(d) / this.rem;
			if (typeof d === 'string' && d.match(/px$/)) {
				val += 'rem';
			}
			return val;
		}

	})(window, window['lib'] || (window['lib'] = {}));

</script>
</body>
</html>