.title-c {
  width: 100%;
  margin-top: 0.8rem;
  position: relative;

  .search-btn {
    font-size: 0.5rem;
    display: block;
    position: absolute;
    color: #5eb8b9;
    top: 0;
    left: 0.2rem;
    padding: 0 0.3rem;
  }

  p {
    text-align: center;
    font-size: 0.5rem;
  }

  .write-btn {
    font-size: 0.5rem;
    display: block;
    position: absolute;
    color: #5eb8b9;
    top: 0;
    right: 0.2rem;
    padding: 0 0.3rem;
  }

}