

.avatar-wrap{
  width: 100%;
  height: 3.31rem;
  background-image: url("../../assets/profile/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.avatar{
  position: absolute;
  width: 2.75rem;
  text-align: center;
  left: 50%;
  margin-left: -1.375rem;
  bottom:-1.2rem;

  img{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 100%;
    margin-bottom: .1rem;
  }

  span{
    font-size: .48rem;
    line-height: .56rem;
  }
}

.profile-info{
  margin-top: 1.2rem;

  h6{
    padding: .8rem 0 .2rem 0;
    color: #279ba5;
    font-size: .4rem;
    line-height: .4rem;
  }
}

.profile-item{
  height: 1.64rem;
  font-size: .43rem;
  border-bottom: 0.035rem solid #eeeeee;
}

.profile-label{
  float: left;
  line-height: 1.64rem;
}

.profile-content{
  position: relative;
  float: right;
  color: #959595;
  line-height: 1.64rem;
  padding-right: .53rem;

  .iconfont{
    position: absolute;
    font-size: .43rem;
    top:50%;
    right: 0;
    margin-top: -.37rem;
  }
}

.info-dialog{
  margin-top: -3.5rem;

  .dialog-content{
    padding: .666667rem .5rem 0 .5rem;
  }
}

.row{
  margin-bottom: .36rem;
  position: relative;

  &.hasline{

    z-index: 99999;

    .form-input{
      border-bottom: none;
      border-radius: 0;
      border-bottom:0.035rem solid #5eb8b9;
    }

    .send-btn{
      width: 2.8rem;
      height: .56rem;
      color: #5eb8b9;
      border:0.035rem solid #5eb8b9;
      font-size: .32rem;
      background-color: #fff;
      border-radius: 20px;
      position: absolute;
      right: 0;
      top:0;
    }
  }
  .form-input{
    width: 100%;
    height: .68rem;
    border: none;
    //border-bottom:0.035rem solid #5eb8b9;
    outline: none;
    padding: 0 6px;
    font-size: .48rem;
    border-radius: 0;
  }

  .error-text{
    position: absolute;
    width: 100%;
    color:#ff7a76;
    font-size: .32rem;
    bottom: -.6rem;
  }

  &.error{
    .form-input{
      border-bottom:0.035rem solid #ff7a76;
    }

    .error-text{
      display: block;
    }
  }
}

.pane{
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  z-index: 999;

  h5{
    font-size: .48rem;
    line-height: .48rem;
    text-align: center;
    margin-top: 1.76rem;
    margin-bottom: 1.44rem;
  }

  img{
    display: block;
    width: 5.4rem;
    height: 5.4rem;
    margin: 0 auto;
  }

  p{
    font-size: .4rem;
    line-height: .533333rem;
    padding: 0 1.15rem;
    margin-top: .56rem;
  }

  .pane-operate-bar{
    margin-top: 1.33333rem;
    text-align: center;
  }

  .swtich-list{
    padding: 0rem 2rem;
    margin-top: .56rem;
  }

  .switch-item {
    width: 1.28rem;
    height: 1.28rem;
    margin-right: 1rem;
    margin-bottom: .26667rem;
    float: left;
    border: 3px solid #5eb8b9;
    border-radius: 100%;
    line-height: 1.2rem;
    text-align: center;
    color: #5eb8b9;

    &.current {
      color: #fff;
      background-color: #5eb8b9;
    }

    &:nth-child(3n),
    &:last-child {
      margin-right: 0;
    }
  }
}


html{
  .mint-button{
    height: 1rem;
    width: 2.88rem;
    background: url('../../assets/device/bg.png') repeat;
    background-size: 100% 100%;
    font-size: .5rem;
    border-radius: 3rem;
  }
}

.hide {
  display: none;
}