<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection"/>
    <title>账户信息</title>
</head>
<body>
    <div id="app">
        <div style="position: fixed;width: 100vw;height: 100vh;z-index: 99999999;background-color: white;" :class="loadClass">
            <mt-spinner :type="2" :size="60" style="text-align: center;display:block; margin-top: 6rem;"></mt-spinner>
            <p style="text-align: center;font-size: 0.4rem;">加载中...</p>
        </div>

        <div style="padding: .58rem .4rem;">
        <div class="avatar-wrap">
            <div class="avatar">
                <img :src="profile.userImage" alt="">
                <span>{{profile.userName}}</span>
            </div>
        </div>
        <div class="profile-info">
            <h6>详细信息</h6>
            <div class="profile-item clearfix">
                <label class="profile-label">真实姓名</label>
                <span class="profile-content" @click.stop="showName">
                    {{profile.realName || '未填写'}}
                    <i class="iconfont icon-arrow-right"></i>
                </span>
            </div>
            <div class="profile-item clearfix">
                <label class="profile-label">邮箱</label>
                <span class="profile-content" @click.stop="showEmail">
                    {{profile.userEmail || '未填写'}}
                    <i class="iconfont icon-arrow-right"></i>
                </span>
            </div>
            <div class="profile-item clearfix">
                <label class="profile-label">手机</label>
                <span class="profile-content" @click.stop="showPhone">
                    {{profile.userMobile || '未填写'}}
                    <i class="iconfont icon-arrow-right"></i>
                </span>
            </div>
            <h6>口腔状况</h6>
            <div class="profile-item clearfix">
                <label class="profile-label">牙结石</label>
                <span class="profile-content" @click.stop="status3 = true">
                    {{profile.dentalCalculus==true?'有牙结石':'无牙结石'}}
                    <i class="iconfont icon-arrow-right"></i>
                </span>
            </div>
            <div class="profile-item clearfix">
                <label class="profile-label">蛀牙</label>
                <span class="profile-content" @click.stop="status2 = true">
                    {{profile.toothDecay?profile.toothDecay:'无'}}
                    <i class="iconfont icon-arrow-right"></i>
                </span>
            </div>
            <div class="profile-item clearfix">
                <label class="profile-label">正畸牙</label>
                <span class="profile-content" @click.stop="status1 = true">
                    {{profile.spurTooth==true?'有正畸牙':'无正畸牙'}}
                    <i class="iconfont icon-arrow-right"></i>
                </span>
            </div>
        </div>
        <div class="mask" v-show="nameStatus">
            <div class="dialog info-dialog">
                <div class="dialog-header">
                    <span>填写真实姓名</span>
                    <i class="iconfont icon-close" @click.stop="dialogNameClose"></i>
                </div>
                <div class="dialog-content">
                    <div class="row hasline" style="margin-top: .4rem">
                        <input type="text" class="form-input" placeholder="请输入您的真实姓名" v-model="modifyRealName">
                        <span class="error-text" v-if="nameErrorStatus">请输入姓名</span>
                    </div>
                    <div class="row" style="text-align: center;margin-bottom: 0;margin-top: 1.28rem">
                        <mt-button type="primary"  @click.stop="modifyName()">确定</mt-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mask" v-show="emailStatus">
            <div class="dialog info-dialog">
                <div class="dialog-header">
                    <span>更改绑定邮箱</span>
                    <i class="iconfont icon-close" @click.stop="dialogEmailClose"></i>
                </div>
                <div class="dialog-content">
                    <div class="row hasline" style="margin-top: .4rem">
                        <input type="text" class="form-input" placeholder="请输入邮箱地址" v-model="modifyEmailAddress">
                        <span class="error-text" v-if="emailErrorStatus">邮箱格式不正确，请重新填写</span>
                    </div>
                    <div class="row hasline" style="text-align: center;margin-bottom: 0;margin-top: 1.28rem">
                        <mt-button type="primary" @click.stop="modifyEmail()">确定</mt-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mask" v-show="phoneStatus">
            <div class="dialog info-dialog">
                <div class="dialog-header">
                    <span>绑定手机</span>
                    <i class="iconfont icon-close" @click.stop="dialogPhoneClose"></i>
                </div>
                <div class="dialog-content">
                    <div class="row hasline" style="margin-top: .4rem">
                        <input type="text" class="form-input" v-model="mobile" placeholder="请输入需要绑定的手机号码">
                        <!--<span class="error-text">邮箱格式不正确，请重新填写</span>-->
                    </div>
                    <div class="row hasline" >
                        <input type="text" class="form-input" placeholder="请输入验证码" v-model="verificationCode">
                        <button @click.stop="sendCode" class="send-btn">{{btnText}}</button>
                        <span class="error-text" v-if="phoneErrorStatus">请输入正确的手机号码</span>
                        <span class="error-text" v-if="phoneBindStatus">请输入正确的验证码</span>
                    </div>
                    <div class="row" style="text-align: center;margin-bottom: 0;margin-top: 1.28rem">
                        <mt-button type="primary" @click.stop="bindMobile">确定</mt-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pane" v-show="status1">
            <h5>您是否正在正畸牙</h5>
            <i class="iconfont icon-close dialog-close" style="font-size:0.5rem" @click.stop="dialogCustomClose"></i>
            <img src="../../assets/profile/1.png" alt="">
            <p>正畸(Orthodontics)就是矫正牙齿、解除错牙合畸形。正畸治疗主要通过各种矫正装置来调整面部骨骼、牙齿及颌面部的神经及肌肉之间的协调性。</p>
            <div class="pane-operate-bar">
                <mt-button type="primary" @click.stop="setToothStatus(false)" style="margin-right: 1.4rem" >否</mt-button>
                <mt-button type="primary" @click.stop="setToothStatus(true)">是</mt-button>
            </div>
        </div>
        <div class="pane" v-show="status2">
            <h5>请选择您的蛀牙颗数</h5>
            <i class="iconfont icon-close dialog-close" style="font-size:0.5rem" @click.stop="dialogCustomClose"></i>
            <img src="../../assets/profile/2.png" alt="">
            <div class="swtich-list clearfix">
                <a class="switch-item" :class="{'current':activeIndex == 0}" @click.stop="setToothNum(0)">无</a>
                <a class="switch-item" :class="{'current':activeIndex == 1}" @click.stop="setToothNum(1)">1颗</a>
                <a class="switch-item" :class="{'current':activeIndex == 2}" @click.stop="setToothNum(2)">2颗</a>
                <a class="switch-item" :class="{'current':activeIndex == 3}" @click.stop="setToothNum(3)">3颗</a>
                <a class="switch-item" :class="{'current':activeIndex == 4}" @click.stop="setToothNum(4)">4颗</a>
                <a class="switch-item" :class="{'current':activeIndex == 5}" @click.stop="setToothNum(5)"style="font-size: 0.3rem;" >4颗以上</a>
            </div>
            <div class="pane-operate-bar">
                <mt-button type="primary" @click.stop="confirmToothNum()">确认</mt-button>
            </div>
        </div>
        <div class="pane" v-show="status3">
            <h5>您是否有牙结石</h5>
             <i class="iconfont icon-close dialog-close" style="font-size:0.5rem" @click.stop="dialogCustomClose"></i>
            <img src="../../assets/profile/3.png" alt="">
            <p>牙结石通常存在于唾液腺开口处的牙齿表面。如下颚前牙的舌侧表面，上颚后牙的颊侧表面和牙齿的颈部。牙结石开始是乳白色的软垢，会因逐渐的钙化而变硬。</p>
            <div class="pane-operate-bar">
                <mt-button type="primary" style="margin-right: 1.4rem" @click.stop="setToothStone(false)">否</mt-button>
                <mt-button type="primary" @click.stop="setToothStone(true)">是</mt-button>
            </div>
        </div>
        </div>
    </div>
    <script>
        ;(function(win, lib) {
            var doc = win.document;
            var docEl = doc.documentElement;
            var metaEl = doc.querySelector('meta[name="viewport"]');
            var flexibleEl = doc.querySelector('meta[name="flexible"]');
            var dpr = 0;
            var scale = 0;
            var tid;
            var flexible = lib.flexible || (lib.flexible = {});

            if (metaEl) {
                console.warn('将根据已有的meta标签来设置缩放比例');
                var match = metaEl.getAttribute('content').match(/initial\-scale=([\d\.]+)/);
                if (match) {
                    scale = parseFloat(match[1]);
                    dpr = parseInt(1 / scale);
                }
            } else if (flexibleEl) {
                var content = flexibleEl.getAttribute('content');
                if (content) {
                    var initialDpr = content.match(/initial\-dpr=([\d\.]+)/);
                    var maximumDpr = content.match(/maximum\-dpr=([\d\.]+)/);
                    if (initialDpr) {
                        dpr = parseFloat(initialDpr[1]);
                        scale = parseFloat((1 / dpr).toFixed(2));
                    }
                    if (maximumDpr) {
                        dpr = parseFloat(maximumDpr[1]);
                        scale = parseFloat((1 / dpr).toFixed(2));
                    }
                }
            }

            if (!dpr && !scale) {
                var isAndroid = win.navigator.appVersion.match(/android/gi);
                var isIPhone = win.navigator.appVersion.match(/iphone/gi);
                var devicePixelRatio = win.devicePixelRatio;
                if (isIPhone) {
                    // iOS下，对于2和3的屏，用2倍的方案，其余的用1倍方案
                    if (devicePixelRatio >= 3 && (!dpr || dpr >= 3)) {
                        dpr = 3;
                    } else if (devicePixelRatio >= 2 && (!dpr || dpr >= 2)){
                        dpr = 2;
                    } else {
                        dpr = 1;
                    }
                } else {
                    // 其他设备下，仍旧使用1倍的方案
                    dpr = 1;
                }
                scale = 1 / dpr;
            }

            docEl.setAttribute('data-dpr', dpr);
            if (!metaEl) {
                metaEl = doc.createElement('meta');
                metaEl.setAttribute('name', 'viewport');
                metaEl.setAttribute('content', 'initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
                if (docEl.firstElementChild) {
                    docEl.firstElementChild.appendChild(metaEl);
                } else {
                    var wrap = doc.createElement('div');
                    wrap.appendChild(metaEl);
                    doc.write(wrap.innerHTML);
                }
            }

            function refreshRem(){
                var width = docEl.getBoundingClientRect().width;
                if (width / dpr > 540) {
                    width = 540 * dpr;
                }
                var rem = width / 10;
                docEl.style.fontSize = rem + 'px';
                flexible.rem = win.rem = rem;
            }

            win.addEventListener('resize', function() {
                clearTimeout(tid);
                tid = setTimeout(refreshRem, 300);
            }, false);
            win.addEventListener('pageshow', function(e) {
                if (e.persisted) {
                    clearTimeout(tid);
                    tid = setTimeout(refreshRem, 300);
                }
            }, false);

            if (doc.readyState === 'complete') {
                doc.body.style.fontSize = 12 * dpr + 'px';
            } else {
                doc.addEventListener('DOMContentLoaded', function(e) {
                    doc.body.style.fontSize = 12 * dpr + 'px';
                }, false);
            }


            refreshRem();

            flexible.dpr = win.dpr = dpr;
            flexible.refreshRem = refreshRem;
            flexible.rem2px = function(d) {
                var val = parseFloat(d) * this.rem;
                if (typeof d === 'string' && d.match(/rem$/)) {
                    val += 'px';
                }
                return val;
            }
            flexible.px2rem = function(d) {
                var val = parseFloat(d) / this.rem;
                if (typeof d === 'string' && d.match(/px$/)) {
                    val += 'rem';
                }
                return val;
            }

        })(window, window['lib'] || (window['lib'] = {}));

    </script>
</body>
</html>