.health {
  padding: 0.77rem 0.56rem;
  .health-panel {
    width: 100%;
    height: 9.38rem;
    position: relative;
    background: linear-gradient(#70c1ad, #5fb8b9);
    border-radius: 0.35rem;
    box-shadow: 0.2rem 0.3rem 0.5rem #e0f1f2;
    
    .avatar {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 1.2rem;
      background-image: url("../../assets/health/avatar.png");
      background-size: contain;
      position: absolute;
      top: -0.3rem;
      left:0.5rem;
    }
    .refresh {
      width: 0.8rem;
      height: 0.8rem;
      position: absolute;
      top: 0;
      right: 0.5rem;
      font-size: 0.8rem;
      color: #fff;
    }


    .yieldCircle .progressCircle {
      transition: stroke-dasharray 0.4s linear 0.2s;
      -webkit-transition: stroke-dasharray 0.4s linear 0.2s;
    }
    .yieldCircle .lineEnd {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform-origin: 19px 19px; /*0% 100%*/
      -webkit-transform-origin: 19px 19px;
      -webkit-transition: transform 0.4s linear 0.2s;
      transition: transform 0.4s linear 0.2s;
    }

    svg{
      margin: 0 auto;
      display: block;
      padding-top: 1.2rem;
      width: 6rem;
    }

    .out-circle {
      width: 5rem;
      height: 5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -2.5rem;
      margin-top: -2.5rem;
      text-align: center;
      color: #fff;
      font-size: 0.4rem;
      font-size: 0.36rem;

      .inner-circle {
        height: 4rem;
        width: 4rem;
        text-align: center;
        margin: 0 auto;
        background-color: rgba(255,255,255,0.5);
        border: 1px solid#fff;
        border-radius: 2rem;
      }
      p{
        margin-top: 0.7rem;
      }
      .percent {
        font-size: 1rem;
        margin: 0;
      }

    }

    .star-c {
      position: absolute;
      width: 90%;
      height: 1.5rem;
      margin: 0 5% ;
      bottom: 0;
      border-top: 1px dashed#e7ebeb;
      line-height: 1.5rem;
      color: #fff;
      font-size: 0.4rem;
      span {
        margin-right: 0.5rem;
      }

      .star-img {
        display: inline-block;
        position: relative;
        width: 0.6rem;
        height: 0.6rem;
        vertical-align: middle;
        margin-right: 0.2rem;
        bottom: 0.1rem;
      }
      .full-star {
        background: url("../../assets/health/star-all.png") no-repeat;
        background-size: contain;
      }
      .half-star {
        background: url("../../assets/health/star-half.png") no-repeat;
        background-size: contain;
      }
      .null-star{
        background: url("../../assets/health/star-null.png") no-repeat;
        background-size: contain;
      }

      .right-btn {
        position: absolute;
        top: 0.4rem;
        right: 0;
        font-size: 0.4rem;
      }

    }
  }

  .medal-c {
    width: 100%;
    height: 2rem;
    margin: 0.8rem 0;
    border: 1px solid#efefef;
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.1rem #efefef;
    line-height: 2rem;
    font-size: 0.5rem;
    position: relative;

    span {
      padding-left: 0.8rem;
      margin-right: 0.8rem;
    }
    .medal1 {
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      background: url("../../assets/health/medal1.png") no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 0.3rem;
    }
    .medal2 {
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      background: url("../../assets/health/medal2.png") no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 0.3rem;
    }
    .medal3 {
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      background: url("../../assets/health/medal3.png") no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 0.3rem;
    }

    .grey-filter {
      filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
      -webkit-filter: grayscale(1);
    }

    .right-btn {
      position: absolute;
      top: 0.7rem;
      right: 0.45rem;
      font-size: 0.5rem;
      color: #878787;
    }

  }

  .use-c {
    position: relative;

    span {
      width: 50%;
      float: left;
      display: inline-block;
      line-height: 2rem;
      text-align: center;
      font-size: 0.42rem;

    }
    .use-second {
      border-right: 1px dashed#c4c4c4;
    }
  }
}