
.grey-filter {
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -webkit-filter: grayscale(1);
}

.medal-img {
  width: 6rem;
  height: 6rem;
  position:absolute;
  top:20%;
  left:50%;
  margin-left: -3rem;
  border: none;


}
.medal1 {
  background: url("../../assets/health/medal1.png") no-repeat center;
  background-size: contain;
}

.medal2 {
  background: url("../../assets/health/medal2.png") no-repeat center;
  background-size: contain;
}

.medal3 {
  background: url("../../assets/health/medal3.png") no-repeat center;
  background-size: contain;
}

.medal4 {
  background: url("../../assets/health/medal4.png") no-repeat center;
  background-size: contain;
}

.medal5 {
  background: url("../../assets/health/medal5.png") no-repeat center;
  background-size: contain;
}

.medal6 {
  background: url("../../assets/health/medal6.png") no-repeat center;
  background-size: contain;
}

.medal7 {
  background: url("../../assets/health/medal7.png") no-repeat center;
  background-size: contain;
}

.medal8 {
  background: url("../../assets/health/medal8.png") no-repeat center;
  background-size: contain;
}

.medal9 {
  background: url("../../assets/health/medal9.png") no-repeat center;
  background-size: contain;
}

.complete {
  width: 100%;
  text-align: center;
  font-size: 0.6rem;
  margin-top: 100%;
  padding: 0.6rem 0;
}

.tip {
  width: 100%;
  text-align: center;
  font-size: 0.4rem;
}

