.medalWall {
  .medal-count{
    width: 100%;
    text-align: center;
    font-size: 0.5rem;
    margin: 1rem 0;

    .medal-num {
      font-size: 0.6rem;
      color: #279ba5;
    }
  }
  .medal-c {
    .medal-item {
      height: 2.5rem;
      width:calc(33.33% - 1rem);
      background: url("../../assets/health/medal1.png") no-repeat center;
      background-size: contain;
      float: left;
      margin: 0.5rem;

    }

    .medal1 {
      background: url("../../assets/health/medal1.png") no-repeat center;
      background-size: contain;
    }

    .medal2 {
      background: url("../../assets/health/medal2.png") no-repeat center;
      background-size: contain;
    }

    .medal3 {
      background: url("../../assets/health/medal3.png") no-repeat center;
      background-size: contain;
    }

    .medal4 {
      background: url("../../assets/health/medal4.png") no-repeat center;
      background-size: contain;
    }

    .medal5 {
      background: url("../../assets/health/medal5.png") no-repeat center;
      background-size: contain;
    }

    .medal6 {
      background: url("../../assets/health/medal6.png") no-repeat center;
      background-size: contain;
    }

    .medal7 {
      background: url("../../assets/health/medal7.png") no-repeat center;
      background-size: contain;
    }

    .medal8 {
      background: url("../../assets/health/medal8.png") no-repeat center;
      background-size: contain;
    }

    .medal9 {
      background: url("../../assets/health/medal9.png") no-repeat center;
      background-size: contain;
    }
    .grey-filter {
      filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
      -webkit-filter: grayscale(1);
    }
  }
}