.todayHealth {
  background-color: #5eb8b9;
  color: #f5fbfb;

  font-size: 0.4rem;

  p{
    text-align: center;
  }

  .date {
    padding-top: 0.7rem;
  }
  .avatar {
    margin-left: calc(50% - 0.5rem);
    margin-top: 0.1rem;

    img {
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      margin-bottom: .1rem;
    }
  }

  .mouth-text {
    margin-top: 0.8rem;
  }

  .percent-text {
    font-size: 2rem;
    position: relative;

    .percent-symbol {
      font-size: 0.6rem;
    }
  }

  .mouth-tip {
    padding-bottom: 0.8rem;
    border-bottom: 2px dotted#efefef;
  }

  .mouth-state {
    margin: 0.6rem;
  }

  .state-img {

    margin-left: calc(50% - 2.5rem);
    img {
      width: 5rem;
      height: 5rem;
      background-size: contain;
    }
  }

  .excellent-status {
    background: url("../../assets/health/good-health.png") center no-repeat;
    background-size: contain;
  }
  .good-status {
    background: url("../../assets/health/good-health.png") center no-repeat;
    background-size: contain;
  }
  .medium-status {
    background: url("../../assets/health/good-health.png") center no-repeat;
    background-size: contain;
  }
  .fine-status {
    background: url("../../assets/health/good-health.png") center no-repeat;
    background-size: contain;
  }
  .bad-status {
    background: url("../../assets/health/good-health.png") center no-repeat;
    background-size: contain;
  }

  .state-text {
    font-size: 1rem;
    margin: 0.3rem;
  }

  .state-tip {
    margin: 0 2.2rem;
  }


  .info-c {
    margin: 1rem 0.5rem;
    background-color: #ffffff;
    border-radius: 0.3rem;
    color: #535353;

    .time-info {
      position: relative;
      height: 1.2rem;
      margin: 0 0.4rem;
      border-bottom: 2px dotted#535353;


      .time-text {
        line-height: 1.2rem;
        display: block;
        position: absolute;
        right: 0;
        text-align: right;
        color: #63abab;

      }
      .time-tip {
        line-height: 1.2rem;
        display: block;
        position: absolute;
        left: 0;
      }
    }

    .today-summary{
      text-align: left;
      padding: 0.3rem 0.4rem;
    }
    .tip-info {
      text-align: left;
      padding: 0 0.4rem 0.4rem;
    }
  }
}