.weekHealth {
  background-color: #5eb8b9;
  color: #f5fbfb;
  padding-bottom: 1rem;

  font-size: 0.4rem;

  p {
    text-align: center;
  }

  .date {
    padding-top: 0.7rem;
  }
  .avatar {
    margin-left: calc(50% - 0.5rem);
    margin-top: 0.1rem;

    img {
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      margin-bottom: .1rem;
    }
  }

  .mouth-text {
    margin-top: 0.8rem;
  }

  .rate-num {
    font-size: 1.5rem;
    position: relative;

  }

  .star-c {
    color: #fff;
    font-size: 0.4rem;
    padding: 0.5rem 0;
    border-bottom: 2px dotted #efefef;
    PADDING-LEFT: 2.8rem;
    margin-bottom: 0.5rem;

    .star-img {
      display: inline-block;
      position: relative;
      width: 0.6rem;
      height: 0.6rem;
      vertical-align: middle;
      margin-right: 0.2rem;
      bottom: 0.1rem;
      border: none;
    }
    .full-star {
      background: url("../../assets/health/star-all.png") no-repeat;
      background-size: contain;
    }
    .half-star {
      background: url("../../assets/health/star-half.png") no-repeat;
      background-size: contain;
    }
    .null-star{
      background: url("../../assets/health/star-null.png") no-repeat;
      background-size: contain;
    }

    .right-btn {
      position: absolute;
      bottom: 0;
      right: 0;
    }

  }


  .info-c {
    margin: 0 0.5rem;
    background-color: #ffffff;
    border-radius: 0.3rem;
    color: #535353;

    .time-info {
      position: relative;
      height: 1.2rem;
      margin: 0 0.4rem;
      border-bottom: 2px dotted#535353;


      .time-text {
        line-height: 1.2rem;
        display: block;
        right: 0;
        color: #63abab;
        text-align: right;

      }
      .time-tip {
        line-height: 1.2rem;
        display: block;
        position: absolute;
        left: 0;
      }
    }

    .today-summary{
      text-align: left;
      padding: 0.3rem 0.4rem;
    }
    .tip-info {
      text-align: left;
      padding: 0 0.4rem 0.4rem;
    }
  }
}

.el-echarts {
  height: 6rem;
  width: 8.5rem;
  margin: 0 auto 1rem;
}